.blog-list-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
}
.class{
    margin-top: -10px;
    background-color: #282A35;
}

@media (max-width: 768px){
    .blog-list-main{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 600px){
    .blog-list-main{
        grid-template-columns: repeat(1,1fr);
    }
}